:root {
  --main-text-color: rgb(163, 163, 163);
  --secondary-text-color: rgb(201, 201, 201);
  --background-color: rgb(255, 255, 255);
  --highlight-color: rgb(34, 255, 0);
}

body {
  background: linear-gradient(to right,#ff6200,#fd7f2c,#fd9346,#fda666,   #fdb777  );
}

.secondary-text {
  color: var(--background-color);
}

.highlight {
  color: var(--highlight-color);
}
